

.first-section{

    background-color: rgb(34, 34, 34);
    color: white;
    position: relative;
}
.first-text-div h1{
    font-size: 80px;
}
.first-position-box{
    width: 200px;
    height: 100px;
    background-color: white;
    position: absolute;
    right: 500px;
    z-index: 111;
    bottom: 100px;
    border: solid rgb(245, 186, 109) 6px;
}
.first-position-box:hover{
    transform: skewX(8deg);
    /* border: 4px solid red; */
}
.second-box-one{
    overflow: hidden;
    border:  solid grey 1px;
}
.second-box-one:hover img{

    transform: translateY(-60px);
    border: solid burlywood 3px;
    transition: .8s;


}
.third-box{
    width: 80%;
    height: 400px;
    border:  solid gray 1px;
    position: relative;
    overflow: hidden;
}
.third-box img{
    width: 65%;
    position: absolute;
    left: 40px;
    bottom: -40px;
    
}


.third-left-box{

    width: 100%;
    height: 400px;
    border:  solid grey 2px;
}
.third-left-box{
    position: relative;
    overflow: hidden;


}


.third-left-box img{
    
    width: 100%;
    position: absolute;
    bottom: -80px;
    right: 0;
     animation-name: imgone;
     animation-timeline: scroll();
}

 .six-img{
    width: 100%;
    height: 500px;

 }
.six-img img{
    width: 100%;
}
.seven-section-img{

    position: absolute;
    right: 0;
    width: 500px!important;
    top: -20px;


}
.eight-box{
    width: 100%;
    height: 650px;
    background-color: rgba(30, 28, 28, 0.6);
}
.seven-crop-img{
    bottom: 60px;
    position: absolute;
    right: 165px;
}
.nine-left-box{
    width: 90%;
    height: 650px;
    background-color: rgb(37, 36, 36);
    position: relative;
}
.nine-position-img{
    position:absolute;
    width: 200px;
    bottom: 0;
    left: 150px;
}
.nine-position-img-two{

    right: 200px;
    top: -20px;
}


@keyframes imgone{
    0%{
     transform: translatey(-20px);
    }
    90%{
        transform: translatey(30px);
    }
}
@media only screen and (max-width: 600px){
    .navbar{
        padding: 0!important;
    
    }
    .first-text-div{
      padding-top: 50px;
      text-align: center;
      
    
    }
    .first-text-div h1{
       font-size: 50px;
    
    }
    .first-img-div{
    
        padding: 0!important;
        
    }
    .first-img-div img{
    
        margin-top: 0!important;
        width: 500px;
    }
   
    .left-div{

        padding: 20px;
    }
    .right-div{
        padding: 20px;
    }

    .second-section{
        padding: 0!important;
    
    }
    
    .second-box-one{
        height: 480px!important;
    }
    .main-text{

        font-size: 35px!important;
        width: 100%;
    }
    .third-box{
        width: 100%;
    }
    .third-section{
        padding: 0!important;
    }
    .sixth-section{
        
        padding: 0!important;
        height: auto!important;
    
    }
    .six-text{
    
        padding: 30px;
    
        
    
    }
    .six-left{
        
        padding: 20px!important;
        height: auto!important;
    }
.six-text h1 {
    
    font-size: 40px!important;
}

.six-img {
   width: 100%!important;
    align-items: center;
    justify-content: center;
    display: flex;
    height: auto!important;
    
}
.six-img img{

    width: 400px;
    right: -10px!important;
}
.seven-section{
    
    padding: 50px!important;
    height: auto!important;
}
.seven-section h1{

    font-size: 40px!important;
}
.seven-section-img {
    width: 100px!important;
    display: none;
    
}

.seven-crop-img{
 width: 100%;
 margin-right: -165px!important;
 margin-bottom: -60px!important;
}
.ss{

    height: auto!important;
    
}
.o img{

    width: 150px!important;
    border:  solid gray 1px;
    padding: 10px;
}
.rounded{
    
    height: auto!important;
}

.eight-section{

    padding: 0!important;
}
.eight-left-sec{
   
    height: auto!important;
    
}

.eight-box{
    
    height: 500px;

}
.nine-left-box{
  
    padding: 0!important;
    height: auto!important;

    
}
.nn{
    
    width: 70px;
    margin-left: -20px;
}
.nine-section{

    height: auto!important;
}
.nine-position-img{
    width: 70px;
    bottom: 20px;
    left: 0;

}
.nine-img-one{
    
    width: 430px!important;

}
.nine-position-img-two{

    width: 100px!important;
    right: 0;
    top: 5px;
}
.n-section{
    
    padding: 20px!important;
}
.ten-left-img-one{
    
    width: 300px!important;
}
.ten-left-img{
    left: 60px;
    top: 150px!important;
}
.n-left-sec{

    padding-top: 50px!important;
    padding-bottom: 30px;
}
.n-right-sec{

    padding-bottom: 40px;
}
.eleven-left-sec{

height: 270px!important;
    
}
.eleven-section{
    padding: 0!important;
}
.eleven-img-two{
  bottom:0!important; 
 
}
.eleven-img-one{
    display: none;
}
.eleven-img-three{
    left: 220px!important;
    width: 200px!important;
    top: 150px!important;
   
    
}
.t-section{
    padding: 0!important;
   
    height: auto!important;
}
.t-left-sec{

    width: 100%;

    padding: 0!important;
    height: auto!important;
    padding-bottom: 40px!important;

}
.t-img-one{

    width: 550px!important;
    margin-left: -90px!important;
   
}
.t-img-two{
    
    width: 300px;
}

.t-top{

    
    height: auto!important;
}


.tt-section{
    
    padding: 0!important;
    
}
.tt-img-one{
    
    width: 200px!important;

}
.tt-img-two{
    
    width: 150px!important;
   


    
    
}

.tt-right-sec{
    height: auto!important;
}
.tt-text{
    
    font-size:  50px!important;
}
.footer{
    
    height: auto!important;
    padding: 10px!important;
}
.foot-text{

    font-size: 30px!important;
    
}
.f-r{
    
    padding: 10px!important;
}
.f-button{
 
 display: flex;
 flex-direction:  column!important;
 align-items: start!important;

}
.f-t-one{

    text-align: start!important;
    align-items: start!important;
}
.f-l{
    
flex-direction: column!important;
 padding:  35px!important;
}
.thirteen-section{
    
    padding: 0!important;
}
.th-text{
    font-size: 40px!important;
    padding: 30px!important;
}
.eleven-box{
    margin-top: 20px!important;
}

}


.ten-left-box{
    width: 100%;
    height: 400px;
    position: relative;
}
.ten-right-box{
    width: 100%;
    height: 400px;
    position: relative;
}
.ten-left-img{
    right: 100px;
    top: 80px;
}
.ten-left-img-two{
    left: 350px;
    top: 50px;
}
.ten-left-img-three{
    left: 150px;
    top: 240px;
}
.ten-left-img-one{
    left: 100px;
}
.footer{
    background-color: rgba(18, 17, 17, 0.922);

}
.foot-row{
    width: 100%;
    height: 1px;
    background-color:   grey ;
}
.eleven-box{
    width: 150px;
    height: 150px;
    border: solid  gray 1px;
}
.twelve-box{
    width: 500px;
    height: 250px;
    border:  solid gray 3px;
    
}
.twelve-img{
    width: 80px;
    height: 80px;
    border:  solid grey 1px;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.645);
}
.i-box{
    width: 300px;
    border:  solid black 4px ;
    height: 250px;
    align-items: start;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.i-img-div{
    width: 80px;
    height: 80px;
    background-color: rgba(128, 128, 128, 0.53);
    align-items: center;
    justify-content: center;
    display: flex;
}
.eleven-left-sec img{
    left: 220px;
    position: absolute;
    width: 350px;
    bottom: 100px;
}
.eleven-left-sec .eleven-img-two{
    width: 100px;
    left: 50px;
}
.eleven-left-sec .eleven-img-three{
 width: 200px;
 left: 550px;
 top: 100px;
}